
.intro-content {
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
    font-size: 32px;
    padding-top: 60px;
}

.intro-content p {
    font-size: 20px;
    letter-spacing: 3px;
    color: rgb(24, 30, 93);
    line-height: 32px;    
}

.image-content-about img {
    width: 100%;
}

.image-content-about #firstImg {
    margin-top: 400px;
}

.header {
    position: fixed;
}

.image-main-content {
    width: 100%;
    position: fixed;
}