
.intro-content {
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
    font-size: 32px;
    padding-top: 60px;
}

.intro-content p {
    font-size: 20px;
    letter-spacing: 3px;
    color: #0a418c;
    line-height: 32px;    
}

.image-content-about img {
    width: 100%;
}