/*
.header {
    height: 60px;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #0a418c;
}

.header-title {
    text-align: left;
}

.header-title img {
    width: 60px;
    height: 60px;
    transition: all .6s ease-in-out;
}

.header-title img:hover {
    cursor: pointer;
    opacity: 0.5;
}

.header-info {
    font-size: 15px;
    display: inline-block;
    text-align: right;
    box-sizing: border-box;
}

.header-music, .header-about {
    height: 100%;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}


.header-music p, .header-about p {
    position: relative;
    top: 25%;
    padding-bottom: 1.5px;
    transition: all .6s ease-in-out;
}

.header-music p:hover, .header-about p:hover {
    cursor: pointer;
    opacity: 0.8;
    border-bottom: 3px solid #0faa69;
}
*/
.clear {
    content: "";
    clear: both;
    display: none;
}

.header {
    background-color: #0a418c;
    width: 100%;
    height: 70px;
}

.header-title  {
    float: left;
    height: 70px;
    width: 45%;
}


.header-info {
    float: right;
    box-sizing: border-box;
    height: 70px;
    width: 48%;
    text-align: right;
    padding-right: 30px;
}


.header-title img:hover {
    cursor: pointer;
    opacity: 0.5;
}

.header-title img {
    height: 70px;
    width: 70px;
    margin-left: 20px;
    transition: all .6s ease-in-out;
}

.header-music, .header-about {
    display: inline-block;
    margin-left: 5px;
    height: 70px;
}

.header-info p {
    color: white;
    font-size: 16px;
}

.header-music p, .header-about p {
    padding-bottom: 3px;
    font-size: 14px;
    transition: all .6s ease-in-out;
    letter-spacing: 5px;
    margin-top: 25px;
}

.header-music p:hover, .header-about p:hover {
    cursor: pointer;
    opacity: 0.8;
    border-bottom: 3px solid #0faa69;
}


.header-info-item-hover {
    border-bottom: 3px solid #0faa69;
}
