.clear {
    content: "";
    clear: both;
    display: none;
}

.header {
    z-index: 2;
    position: absolute;
    top: 0;
    width: 100%;
    height: 55px;
    font-weight: bold;
    letter-spacing: 0px;
}

.header-title  {
    float: left;
    height: 55px;
}

.header-info {
    float: right;
    box-sizing: border-box;
    height: 55px;
    width: 60%;
    text-align: right;
    padding-right: 30px;
    margin-top: -5px;
}

.header-title img:hover {
    cursor: pointer;
    opacity: 0.5;
}

.header-title img {
    height: 55px;
    width: 55px;
    margin-left: 20px;
    transition: all .6s ease-in-out;
}

.header-music, .header-about {
    display: inline-block;
    margin-left: 10px;
    height: 55px;
}

.header-music p, .header-about p {
    padding-bottom: 5px;
    color: rgb(24, 30, 93);
    line-height: 12px;
    font-size: 12px;
    transition: all .6s ease-in-out;
}

.header-music p:hover, .header-about p:hover {
    cursor: pointer;
    opacity: 0.5;
    border-bottom: 3px solid #0faa69;
}


.header-info-item-hover {
    border-bottom: 3px solid rgba(24, 30, 93, .4);   
}


@media (min-width: 758px) { 
    .header {
        margin-top: 10px;
    }
}
