body {
    background-color: white;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
}

.container, .track-music-content {
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20px;
}

.image-content {
    display: grid;
    grid-template-columns: 100%;
}

.image-content .road-text-image {
    width: 40%;
    margin-top: 80%;
    margin-left: 20%;
}

.image-content .main-image {
    width: 100%;
}

.functionailty-area p {
    margin-top: 7%;
    font-size: 15px;
    color: rgb(24, 30, 93);
    display: none;
}


button {
    color: rgb(24, 30, 93);
    font-weight: bold;
    background-color: white;
    border: 2px solid rgb(24, 30, 93);
    border-radius: 30px;
    font-size: 18px;
    box-sizing: border-box;
    height: 50px;
    width: 100px
}

#close {
    display: inline-block;
    border: 0px solid rgb(24, 30, 93);
    width: 50px;
}

.close-area {
    display: inline-block;
    float: right;
    margin-top: 15px;
}

.close-area:hover {
    opacity: 0.5;
}

#backImg {
    display: inline-block;
    width: 30px;
    height: 30px;
    float: right;
}



button:hover {
    color: white;
    background-color: rgb(24, 30, 93);
    cursor: pointer;  
    opacity: 0.5; 
}

.buttonHover {
    color: white;
    background-color: rgb(24, 30, 93);   
    opacity: 50%; 
}

.intro-content {
    text-align: justify;
    margin-top: 60px;
    margin-bottom: 60px;
    color: rgb(24, 30, 93);
}

.intro-content p {
    font-size: 15px;
}

.music-content {
    margin-top: 50px;
}

.gmap-content {
    text-align: center;
}

.display-content {
    margin-bottom: 40px;
}

.track-container {
    display: none;
}

.track-content {
    position: relative;
    color: black;

}

.track-content img {
    width: 100%;
    height: auto;

}

.track-content #track-map {
    width: 50%;
    margin-left: 30px;
    margin: 0 auto;
    display:block;
}

#track-iframe1, #track-iframe2, #track-iframe3, #track-iframe4, #track-iframe5 {
    display: none;
}


@media (min-width: 1200px) { 
    
}


@media (max-width: 575px) { 
    body {
        letter-spacing: 1px;
    }
    
}


.point1 {
    top: 10%;
    left: 53%;
}

.point2 {
    top: 35%;
    left: 35%;
}

.point3 {
    top: 60%;
    left: 52%;
}

.point1 img, .point2 img, .point3 img {
    transform: translatey(0px);
	animation: float 2s ease-in-out infinite;
}

.point1, .point2, .point3 {
    position: absolute;
    transition: all .3s ease-in-out;
}

.point1:hover, .point2:hover, .point3:hover {
    transform: scale(1.4);
}

@media (max-width: 1199px) { 
    @keyframes float {
        0% {
            transform: translatey(0px);
        }
        50% {
            transform: translatey(-20px);
        }
        100% {
            transform: translatey(0px);
        }
    }
}

@media (max-width: 788px) { 
    @keyframes float {
        0% {
            transform: translatey(0px);
        }
        50% {
            transform: translatey(-15px);
        }
        100% {
            transform: translatey(0px);
        }
    }
}

@media (max-width: 575px) { 
    @keyframes float {
        0% {
            transform: translatey(0px);
        }
        50% {
            transform: translatey(-10px);
        }
        100% {
            transform: translatey(0px);
        }
    }
    
    button {
        height: 40px;
        width: 75px;
        font-size: 16px;
    }
}
