* {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 32px;
}

.container ul {
    list-style: none;
    display: block;
    overflow: hidden;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container ul li {
    display: inline-block;
    padding: 20px;
}