body {
    background-color: white;
    color: white;
    margin: 0;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.hide-container {
    display: none;
    position: absolute;
    top: 0%;
    width: 100%;
    background-color: white;
    height: 100%;
}

.map-content {
    position: relative;
}

.map-content img {
    width: 100%;
}

.place1 {
    top: 29%;
    left: 27%;
}

.place2 {
    top: 37%;
    left: 41%;
}

.place3 {
    top: 47%;
    left: 45%;
}

.place4 {
    top: 50%;
    left: 20%;
}

.place5 {
    top: 60%;
    left: 55%;    
}

.place1, .place2, .place3, .place4, .place5 {
    transition: all .3s ease-in-out;
    position: absolute;
}

.place1:hover, .place2:hover, .place3:hover, .place4:hover, .place5:hover {
    transform: scale(1.4);
}

.place1 img, .place2 img, .place3 img, .place4 img, .place5 img {
    transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
}

@media (min-width: 1200px) { 
    @keyframes float {
        0% {
            transform: translatey(0px);
        }
        50% {
            transform: translatey(-20px);
        }
        100% {
            transform: translatey(0px);
        }
    }
}

@media (max-width: 1199px) { 
    @keyframes float {
        0% {
            transform: translatey(0px);
        }
        50% {
            transform: translatey(-20px);
        }
        100% {
            transform: translatey(0px);
        }
    }
}

@media (max-width: 788px) { 
    @keyframes float {
        0% {
            transform: translatey(0px);
        }
        50% {
            transform: translatey(-15px);
        }
        100% {
            transform: translatey(0px);
        }
    }
}

@media (max-width: 575px) { 
    @keyframes float {
        0% {
            transform: translatey(0px);
        }
        50% {
            transform: translatey(-10px);
        }
        100% {
            transform: translatey(0px);
        }
    }
}

