<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, world!</title>
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <link href="/css/about.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="header">
      <div class="header-title">
        <img src="/images/logo.png">
      </div>
      <div class="header-info">
        <div class="header-music">
          <p>走音</p>
        </div>
        <div class="header-about">
          <p>關於我們</p>
        </div>
      </div>
    </div>


    <div class="image-content-about">  
        <img src="/images/0131 sketch i8-19.png">
    </div>

    <div class="intro-content">
        <p>利用聲音平台及取樣編曲結合網路平台的方式，為台北市景點作編曲導覽，以不同方式呈現台北各大觀光景點，帶給民眾另類體驗方式，創造除照片影像以外的另類回憶，增加大眾對台北的情節記憶。</p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/about.js"></script>
    <script src="/js/header.js"></script>
  </body>
</html>
