<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, world!</title>
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <link href="/css/about.css" rel="stylesheet" type="text/css">
    <link href="/css/fontFamily.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="header">
      <div class="header-title">
        <img src="/images/logo.svg">
      </div>
      <div class="header-info">
        <div class="header-music">
          <p>走 音</p>
        </div>
        <div class="header-about">
          <p>關 於 我 們</p>
        </div>
      </div>
    </div>
    <div class="image-main-content">
        <img src="/images/about_mobile.svg">
    </div>
    <div class="image-content-about"> 
        <img id="firstImg" src="/images/0401 mobile i6 -09.svg">
        <img src="/images/0401 mobile i6 -10.svg">
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/about.js"></script>
    <script src="/js/header.js"></script>
  </body>
</html>
