<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Entry</title>
    <link href="/css/entry.css" rel="stylesheet" type="text/css">

  </head>
  <body>
        <div class="entry-content">
            <p id="entry-title">匯聚街邊細語</p>
            <p>建構所見以外的城市面貌</p>
            <p>展開一場從未有過的探索</p>
            <button id="entry-btn">點此進入</button>
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>    
    <script src="/js/entry.js"></script>    
  </body>
</html>
