<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, world!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <style>
    .header {
      margin: 0;
      padding: 0;
      list-style: none;
      background-color: #0a418c;
      height: 70px;
      color: white;
      letter-spacing: 2px;
      font-size: 14px;
    }
    
    .header li {
      display: inline-block;
      line-height: 70px;
      transition: all .6s ease-in-out;
    }

    .header li:hover {
      cursor: pointer;
      opacity: 0.8;
      border-bottom: 3px solid #0faa69;
    }
    
    .header img {
      vertical-align: middle;
      height: 70px;
      width: 70px
      
    }

    .header-info {
      float: right;
    }

    .header-info li {
      height: 70px;
    }
    
        
</style>
  <body>
    <ul class="header">
      <li class="header-title"><img src="/images/logo.png"></li>
      <div class="header-info">
        <li>走音</li>
        <li>關於我們</li>
      </div>
    </ul>
      
   
  
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
    <script src="https://connect.soundcloud.com/sdk/sdk-3.3.0.js"></script>    
    
  </body>
</html>
