<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, world!</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Hello World</h1>
    <div class="ccc">
      <h1>Register</h1>
    </div>

    <div class="container">
      <ul>
        <li>123</li>
        <li>123</li>
        <li>123</li>
        <li>123</li>
        <li>123</li>
      </ul>
    </div>
    
    
    <ul id="play-list">
      <li data-id="audio" >迴</li>
      <li data-id="audio2">一場遊戲一場夢</li>
    </ul>
    <audio id="audio" src="/sound/turn.mp3" ></audio>
    <audio id="audio2" src="/sound/GameDream.mp3" ></audio>
    

    <!--<audio controls>
        <source src="/sound/turn.mp3" type="audio/ogg">
    </audio>
    -->
      
    <!-- Optional JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
