<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, world!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <link href="/css/run.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="header">
      <div class="header-title">
        <img src="/images/logo.png">
      </div>
      <div class="header-info">
        <div class="header-music">
          <p>走音</p>
        </div>
        <div class="header-about">
          <p>關於我們</p>
        </div>
      </div>
    </div><!--header-->
    
    <div class="map-content">
        <img src="/images/map_工作區域 1.svg">
        <div data-id="point1" class="point1" >
            <img class="carousel" src="/images/icon1_工作區域 1.svg">
        </div>

        <div data-id="point2" class="point2" >
          <img class="carousel" src="/images/icon2.svg">
        </div>

        <div data-id="point3" class="point3" >
          <img class="carousel" src="/images/icon3_工作區域 1.svg">
        </div>

        <div data-id="point4" class="point4" >
          <img class="carousel" src="/images/icon4_工作區域 1.svg">
        </div>

        <div data-id="point5" class="point5" >
          <img class="carousel" src="/images/icon5_工作區域 1.svg">
        </div>

        <!--
        <div class="hide-container">
            <div class="image-content">  
                <img class="image-content-text" src="/images/main_text.svg">
                <img class="image-content-image" src="/images/main.svg">
            </div>
            <div class="container">
              <div class="button-content">
                <button id="intro">簡介</button>
                <button id="track">Track</button>
                <button id="change-iframe-btn">Change</button>
                <p>看看是誰組成了太原路吧</p>
              </div>
              <div class="define-content">
                
                <div class="music-content">
                    <iframe id="header-iframe" width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/197472029&amp;color=%232d0d15&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>        
                </div>
                
                <div class="intro-content">
                    <p>位於昔日台北火車站後站出口的太原路周邊，過去是北部地區各類五金雜貨、文具、時裝、飾品的批發市場，全盛時期曾高達數十家，其中，太原路上以嬰幼兒玩具、電動玩具最多，因此有玩具街之稱。              </p>
                </div>
                <div class="google-map">
                  <iframe
                    id="google-iframe"
                    align="center"
                    height="450"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAaLsA0Azb906Nz-V9bxOQmD2l0ExwC88I&q=Space+Needle,Seattle+WA" allowfullscreen>
                  </iframe>
                </div>
              </div>
            </div>
        
            <div class="container">
              <div class="track-music-content">
                <iframe id="track-iframe1" width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/197472029&amp;color=%232d0d15&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>        </div>
                <iframe id="track-iframe2" width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/405573275&amp;color=%232d0d15&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
                <iframe id="track-iframe3" width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/405573275&amp;color=%232d0d15&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
                <iframe id="track-iframe4" width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/405573275&amp;color=%232d0d15&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
                <iframe id="track-iframe5" width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/247502140&amp;color=%232d0d15&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
              </div>
              <div class="track-content">
                <img src="/images/track_photo.svg">
                <div data-id="track-iframe1"  class="point1">
                  <img src="/images/0131 sketch i8-16.png">
                </div>
                <div data-id="track-iframe2" class="point2">
                  <img src="/images/0131 sketch i8-15.png">
                </div>
                <div data-id="track-iframe3" class="point3">
                  <img src="/images/0131 sketch i8-11.png">
                </div>
                <div data-id="track-iframe4" class="point4">
                  <img src="/images/0131 sketch i8-14.png">
                </div>
                <div data-id="track-iframe5" class="point5">
                  <img src="/images/0131 sketch i8-13.png">
                </div>
              </div>
            </div>
        </div>
        -->
    </div>
  



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
    <script src="https://connect.soundcloud.com/sdk/sdk-3.3.0.js"></script>    
    <script src="/js/header.js"></script>
    <script src="/js/run.js"></script>
  </body>
</html>
